
h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #fffae2;
}
#titulo {
	margin: auto;
    width: 100%;
    padding: 10px;
}
#menu {
	margin: auto;
    width: 30%;
    text-align: center;
    font-size: 25px;
}
#menu a {
	color: #fffae2;
	transition: color 2s;
}
#menu a:hover {
	color: red;

}
#menu div {
	display: inline-block;
	padding:5px;
}
img{
  width:200px;
  height:200px;
  
} 
table {
   border-collapse: collapse;
}

table, th, td {
   border: 2px solid black;
}

td {
	padding: 15px;
	transition: transform 3s;
}
td:hover {
	background-color: #f7a062;
	transform: rotate(60deg);
}

#video {
	width: 560px;
	margin: auto;
	padding: 30px;
	transition: all 5s;
}

#video:hover {
	transform: rotate(720deg);
}

body {
	font-family: 'Montserrat', sans-serif;
	background:linear-gradient(#ffd4b7, #e8ffbf);
}
#contenido {
	margin: 20px;
}
h2{
	padding: 10px;
}
section div p {
	padding-left: 50px;
	padding-right: 50px;
}
.animacion {
	width: 100%;
	background-color: #f7a062;
	margin-bottom: 20px;
	animation-name: un_efecto;
	animation-iteration-count:infinite;
	animation-duration:5s;
	animation-delay:0s;
}
@keyframes un_efecto {
	0% {width: 100%;}
	50% {width: 20%; background-color: #e8ffbf}
	100% {width: 100%}
}
.animacion:hover{
	animation-play-state: paused;
}
form {
	transition: all 3s;
}

form:hover {
	opacity: 0;
}